<div class="homepage-img">
  <div class="overlay">
    <nav class="transparent">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Shlink</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#">RESOURCES</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">ABOUT</a></li>
          <a class="login-btn waves-effect waves-light btn">LOGIN</a>
          <a class="signup-btn waves-effect waves-light btn">SIGN UP</a>
        </ul>
      </div>
    </nav>
    <div class="center hero-text">
      <h2>Shrink it right away!</h2>
      <p>Shorten your links with shlink, avoid long urls</p>
    </div>
<form id="url-form">
  <div class="input-group">
    <input id="icon-prefix" type="text" class="validate" placeholder="Paste a url to shrink it" required>
    <input class='suffix' id="submit-url" type="submit" value="Shrink"/>
</div>
</form>
    <div class="url-wrapper">
      <span class="short-url"></span>
    </div>
  </div>
</div>