// --------------------------------------------------------------
// This file contains all variables declarations, if any.
// --------------------------------------------------------------

// Font Family
$font-family-light: DINPro-Light;
$font-family-regular: DINPro-Regular;
$font-family-medium: DINPro-Medium;
$font-family-bold: DINPro-Bold;

// Colors
$background-blue-opacity: rgba(94, 125, 199, 0.8);
$background-blue: rgb(94, 125, 199);
$background-white: #fff;
