// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

.brand-logo {
  font-family: "Arizonia", cursive;
  font-size: 40px !important;
  margin-left: 10%;
}

.homepage-img{
  background: url('fabian-irsara-92113.jpg');
  background-size: cover;

  .overlay {
    background-color: rgba(94, 125, 199, 0.7);
    height: 703px;
  }
}

#nav-mobile {
  font-family: $font-family-regular;
  font-weight: 600;
  margin-left: 20%;
}

.login-btn {
  background-color: transparent;
  border: 1px solid $background-white;
  font-family: $font-family-regular;
  font-weight: 600;
  margin-left: 370px !important;
}

.login-btn:hover {
  background-color: $background-white;
  color: rgb(94, 125, 199);
}

.signup-btn {
  background-color: $background-white;
  color: rgb(94, 125, 199);
  font-family: $font-family-regular;
  font-weight: 600;
  margin-left: 30px !important;
}

.signup-btn:hover {
  background-color: $background-blue;
  color: $background-white;
}

.hero-text {
  color: $background-white;
  font-family: $font-family-regular;
  margin-top: 100px;

  h2 {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.hero-text > p {
  font-size: 20px;
}

.input-group {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

.input-group input, .suffix {
  display: table-cell;
}

#icon-prefix {
  background-color: $background-white;
  border: 1px solid #38e77b;
  height: 51px;
  width: 400px;
}

input.suffix {
  background-color: #38e77b !important;
  color: $background-white;
  font-family: $font-family-regular;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 30px 17px 30px;
  margin-top: -8px !important;
  border: none;
}

input.suffix:hover {
  opacity: 0.7;
}

.shrink-btn {
  padding: 19px 30px 20px 30px;
}

.shrink-btn:hover {
  cursor: pointer;
}
